{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script type="text/javascript"  src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
    crossorigin="anonymous"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script><!-- html2canvas 1.0.0-alpha.11 or higher version is needed -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
    <title>Dashboard</title>
    
    <script>
      $(document).ready(function(){
        $('Table').dataTable();
        const div_to_add=document.querySelector(".dataTables_length")
        const btn=document.createElement("button")
        btn.className="btn btn-success"
        btn.type="button"
        btn.innerText="Download Data"
        div_to_add.append(btn)
        btn.onclick=download
        $('select').classname="form-control"
        bar_graph(null,document.querySelector("#bargraph24"),'/bargraph/')
        graph_week_month(null,null,document.querySelector("#bargraphweek"),'/daysbar/')
        graph_week_month(null,null,document.querySelector("#bargraphmonth"),'/daysbarweek/')
        var trs=document.querySelectorAll("td")
      var l_tr=trs.length
      for (var i = 0; i < l_tr ; i++){
          if (parseFloat(trs[i].innerText) > 37.8 && parseFloat(trs[i].innerText) < 42){
            console.log(trs[i])
            trs[i].parentNode.id="flag"
          }
      }
        // var tds=$("td")
        
        // var l = tds.length
        // var i
        // for (i = 0; i < l; i++){
        //     console.log(tds[i].innerText)
        //     if ( tds[i].innerText > 37){
        //         console.log(tds[i].parentNode)
        //         to_change=tds[i].parentNode.children
        //         var j
        //         var to_l=to_change.length
        //         for (j = 0; j < to_l; i++ ){
        //         to_change[j].style.backgroundColor='#ff7869'
        //       }
        //     }
        // }
      });
    </script>
</head>
<body>
  <div id="sidebar">
    <ul id="dataholder">
      <li id="Logo">
        <img src="{% static 'CONTACT.png' %}" alt="">
      </li>
      <hr>
      <li>
        <p>Account Management</p>
      </li>
      <hr>
      <li>
        <a href="/company/{{ Company.pk }}/checkin">Check in Screen</a>
      </li>
      <hr>
      <li>
        <p>Ministry of Health fb page</p>
        <a href="https://www.facebook.com/HealthGrenada">Ministry of Health</a>
      </li>
      <hr>
      <li>
        <p>Greanada Covid 19 Results</p>
        <a href="https://covid19.who.int/region/amro/country/gd">Covid 19 Results</a>
      </li>
      <hr>
      <li>
        <p>WHO Website</p>
        <a href="https://www.who.int/">WHO</a>
      </li>
      <hr>
      <li>
        <p>Covid 19 Contact Hotline</p>
        <a href="https://covid19.gov.gd/contact/">Hotline</a>
      </li>
      <hr>
      <li>
        
        <a href="{% url 'qrcode' %}">Go to Qr Code</a>
      </li>
      <hr>
    </ul>
  </div>
    <div class="container">
      <h3>Welcome to {{ Company.Name }} dashboard</h3>
        <div id="first_table">
          
            {{ table | safe }}
        </div>
        <div id="bargraph24">
          <p class="search">Date Range Filter</p>
          <input type="date" id="24_date_filter" placeholder="dd-mm-yyyy">
         
          <button id="24_search" onclick="get_graph_data(event)" class="btn btn-primary">Search</button>
          <img src="" alt="">
        </div>
        <div class='row'>
          <div id="bargraphweek" class="col-sm">
            <p class="search">Date Range Filter</p>
          <input type="date" id="24_date_filter_start" placeholder="dd-mm-yyyy">
          <input type="date" id="24_date_filter" placeholder="dd-mm-yyyy">
          <button id="24_search" onclick=" get_week_month_graph_data(event)" class="btn btn-primary">Search</button>
            <img src="" alt="">
          </div>
          <div id="bargraphmonth" class="col-sm">
            <p class="search">Date Range Filter</p>
          <input type="date" id="24_date_filter_start" placeholder="dd-mm-yyyy">
          <input type="date" id="24_date_filter" placeholder="dd-mm-yyyy">
          <button id="24_search" onclick=" get_week_month_graph_data(event)" class="btn btn-primary">Search</button>
            <img src="" alt="">
          </div>
        </div>
    </div>
    
</body>
</html>