{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <title>Login</title>
    
</head>
<body>
    
    <div class="container">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    {% if message %}
                    {{ message }}
                    {% endif %}
                    <form method="post" action="{% url 'index' %}" id="form">
                        {% csrf_token %}
                        {{ form|crispy }}
                  
                      
                        <button type="submit" class="btn btn-primary" id="loginbtn">Login</button>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  
                </div>
              </div>
            </div>
        </div>
        <nav>
                

            
            <a href="{% url 'signup' %}" id="signup">Signup</a>
            <a onclick="display_form()" id="signup">Login</a>
        
    </nav>
        <div id="top" class="row">
           
            <img src="{% static '1.png' %}" alt="" id ="top_img">
            <!-- <img src="{% static 'homepage.jpeg' %}" alt=""> -->
           
        </div>
        <div id="dashboard" class="row">
            <img src="{% static '6.png' %}" alt="" id="dashboard_img">
        </div>
        <div id="experience" class="row">
            <img src="{% static '5.png' %}" alt="" id="experience_img">
        </div>
       
        <div class="row" id="aboutus">
            <img src="{% static '2.png' %}" alt="" id="aboutus_img">
        </div>
        <div class="row" id="how-it-works">
            <img src="{% static '4.png' %}" alt="" id="howitworks_img">
        </div>
    </div>
   
</body>
</html>