{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <script src="{% static 'js/signup.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <form method="post" action="{% url 'signup' %}" id="form">
                {% csrf_token %}
                <div class="col-sm" id="left">
                    <h2>Registration Form</h2>
                    {{form.as_p}}
                    <p>
                        <label>Confirm Password </label>
                        <input type="password" id ="pass_confirm">
                    </p>
                </div>
                <div class="col-sm" id="right">
                    <h2>Mandatory Information</h2>
                    {{ form_1.as_p }}    
                    
                    <button type="submit" class="btn btn-primary" id="submit_button" onclick="auth_confirm">Signup</button>
                    
                </div>
                
            </form>
        </div>
    </div>

</body>
</html>